# Environment Variables for CogniQuery with OpenTelemetry + Arize Phoenix

# CrewAI + LLM Configuration
OPENAI_API_KEY=sk-proj-a4Ca-o--y--
GEMINI_API_KEY="--xVU"
GOOGLE_API_KEY="--xVU"
YOUTUBE_API_KEY="-"

# E2B Code Interpreter
E2B_API_KEY=""

# Database Configuration (for SQL executor)
DB_CONNECTION_URI="postgresql://:@ep--dew--pooler.ap--1.aws.neon.tech/neondb?=&channel_binding=require"

# agent file storage option: s3 / local
STORAGE_BACKEND=local

# Web Search Serper
SERPER_API_KEY=""

# Slack Integration (for Slack tools)
SLACK_BOT_TOKEN=xoxb---
SLACK_USER_TOKEN=xoxp----
TEST_SLACK_CHANNEL=
SLACK_APP_TOKEN=xapp----

# FastMCP Server Configuration
MCP_SERVER_HOST=127.0.0.1
MCP_SERVER_PORT=8010

# Development Settings
LOG_LEVEL=INFO
DEBUG=false
ENVIRONMENT=development